@import "node_modules/@angular/material/theming";

// Include non-theme styles for core.
@include mat-core();


$color-global-pink : rgb(255, 0, 153);
$color-global-pink-dif : rgb(251, 209, 235);
$color-global-blue :rgb(4, 211, 188);
$color-global-orange :rgba(255, 190, 92, 0.473);
$color-global-purple :rgb(218, 70, 255);
$color-global-blue-dif :rgb(216, 249, 245);
$color-gradient-footer  :  linear-gradient(to right,rgb(4, 211, 188, 0.9),rgb(255, 0, 153, 0.6));
$color-gradient-views  :  linear-gradient(to right,rgb(216, 249, 245),rgb(251, 209, 235));


/* Color definitions */
$mat-custom-accent: (
 50 : #FFE0F3 ,
 100 : #FFB3E0 ,
 200 : #FF80CC ,
 300 : #FF4DB8 ,
 400 : #FF26A8 ,
 500 : #FF0099 ,
 600 : #FF0091 ,
 700 : #FF0086 ,
 800 : #FF007C ,
 900 : #FF006B ,
 A100 : #FFFFFF ,
 A200: #FFF2F7 ,
 A400: #FFBFD6 ,
 A700: #FFA6C6 ,
 contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A700 : #ffffff,
)
);

$mat-custom-primary: (
/* For use in src/lib/core/theming/_palette.scss */
50 : #E1FAF7,
100 : #B4F2EB,
200 : #82E9DE,
300 : #4FE0D0,
400 : #2ADAC6,
500 : #04D3BC,
600 : #03CEB6,
700 : #03C8AD,
800 : #02C2A5,
900 : #01B797 ,
A100 : #E0FFF9 ,
A200 : #ADFFEE ,
A400 : #7AFFE4,
A700 : #61FFDE ,
contrast: (
50 : #000000,
100 : #000000,
200 : #000000,
300 : #ffffff,
400 : #ffffff,
500 : #ffffff,
600 : #ffffff,
700 : #ffffff,
800 : #FFFFFF ,
900 : #ffffff,
A100 : #000000,
A200 : #000000,
A400 : #ffffff,
A700 : #ffffff,
)

);
// Define a theme.
$primary: mat-palette($mat-custom-primary);
$accent: mat-palette($mat-custom-accent);
$background-color: #e1e1e1;
/* Light theme */
$theme: mat-light-theme($primary, $accent);
// Insert custom background color
$background: map-get($theme, "background");
$background: map_merge(
$background,
(
"background": $background-color,
)
);
$theme: map_merge(
$theme,
(
"background": $background,
)
);
/* Dark theme */
$primary-dark: mat-palette($mat-custom-primary);
$accent-dark: mat-palette($mat-custom-accent);
$dark-theme: mat-dark-theme($primary-dark, $accent-dark);

.input-padding{
    padding-right: 6px;
  }
  o-text-input, o-date-input, o-image{
    padding-right: 6px;
  }
  
  .o-bar-menu nav a:hover {
    color: $color-global-pink;
  }

.mat-table {
    .mat-header-row {
        .mat-header-cell {
            background-color: $color-global-orange;
        }
    }
}

.o-table-container{
  background: $color-gradient-views;
}

.card-menu{
  margin-top: 400px;
  margin-left: 700px;
  max-width: 800px;
}

body,html {
    background-image: url("../images/brandingRP-3.png");
    background-size: 2000px;
    background-position: center;
    background-position-x: -500px;
    background-position-y: -20px;
}

.o-card-menu-item .mat-button{
  background-color: $color-global-orange !important;
}

.optionClicked{
  color: $color-global-pink !important;
}

.table-div{
  height: calc(100% - 64px);
  background: $color-gradient-views;
}
