
<o-bar-menu title="APP_TITLE" show-language-selector="yes">
  <o-bar-menu-group icon="settings" class="options" title="{{'OPTIONS' | oTranslate }}" position="end">
    <o-bar-menu-group title="LANGUAGE">
      <o-locale-bar-menu-item locale="en" title="English"></o-locale-bar-menu-item>
      <o-locale-bar-menu-item locale="es" title="Español"></o-locale-bar-menu-item>
    </o-bar-menu-group>
  </o-bar-menu-group>
  <o-user-info class="user-profile" show-profile="no" show-settings="no"></o-user-info>
  <img class="logo-rita" src="../../../assets/icons/icoRP.png" alt="RitaPOP" >
</o-bar-menu>
<router-outlet></router-outlet>
