.logo-rita{
    width: 8%;
    height: 100%;
    margin-top: 0.1%;
    position: absolute;
    margin-left: 30%;
}
.user-profile{
    margin-top: 2%;
    position: absolute;
    margin-left: 5%;
}
.options{
    margin-left: 80%;
}


