<o-form service="transactions" entity="transactionDetails"  keys="ID_TRANSACTION" header-actions="R;U;D" keys-sql-types="INTEGER" show-header-navigation="yes">
  <o-integer-input attr="ID_TRANSACTION" sql-type="INTEGER" enabled="no"></o-integer-input>
 <o-row>
   <o-column title="{{ 'TRANSACTION' | oTranslate }}" fxFlex="70" >
     <o-row>
       <o-nif-input class="input-padding" attr="NIF_SELLER" fxFlex="50" required="yes" enabled="no"></o-nif-input>
       <o-nif-input class="input-padding" attr="NIF_BUYER" fxFlex="50" required="yes" enabled="no"></o-nif-input>
     </o-row>
     <o-row>
      <o-date-input attr="START_DATE" fxFlex="50" required="yes"></o-date-input>
      <o-date-input attr="END_DATE" fxFlex="50"></o-date-input>
     </o-row>
     <o-row>
      <o-text-input attr="PAYMENT_METHOD" fxFlex="50" required="yes"></o-text-input>
      <o-currency-input thousand-separator="." attr="PRICE" class="input-padding" step="0" grouping="no" fxFlex="15" required="yes">
        <o-validator error-name="requiredMin" error-text="{{ 'MIN_VALIDATOR' | oTranslate }}" [validator-function]="minValidator"></o-validator>
        <o-validator error-name="requiredMax" error-text="{{ 'MAX_VALIDATOR' | oTranslate }}" [validator-function]="maxValidator"></o-validator>
      </o-currency-input>
     </o-row>
     <o-row>
      <o-text-input attr="PRODUCT_NAME" fxFlex="50" required="yes"></o-text-input>
      <o-text-input attr="PRODUCT_CATEGORY" fxFlex="50"></o-text-input>
    </o-row>
   </o-column>
 </o-row>
</o-form>

