<o-form-layout-manager title="{{'CLIENTS' | oTranslate }}" separator=" " mode="dialog" label-columns="ID" >
  <div fxFill fxLayout="column" fxLayoutAlign="start">
    <o-table attr="clientsTable" service="clients" entity="client" keys="ID" header-actions="R;I;U;D" show-header-navigation="no"
    columns="ID;NAME;SURNAME;NIF;BIRTH_DATE;PURCHASES;SALES;PHONE_NUMBER;EMAIL"
    visible-columns="NAME;SURNAME;NIF;PURCHASES;SALES;TYPE_CLIENT;PHONE_NUMBER;EMAIL" query-rows="20" refresh-button="no" delete-button="no">
    <o-table-column attr="TYPE_CLIENT" title="TYPE_CLIENT" class="o-table-column-centered">
      <app-clients-vip-render></app-clients-vip-render>
    </o-table-column>
  </o-table>
</div>
</o-form-layout-manager>
