$color-letter-global : rgb(255, 0, 153);
$color-global-azul :rgb(4, 211, 188);
$color-fondo-social-def :   rgb(255, 0, 153);
$color-fondo-difuminado : rgb(255, 0, 153, 0.6);
$color-gradient-footer  :  linear-gradient(to right,rgb(4, 211, 188, 0.9),rgb(255, 0, 153, 0.6));
$hover-social: rgba(255,255,255,0.47);
$color-letter-sociual :   #eaf0fb;
$color-letter-hover:  black;

.m-top-24 {
  margin-top: 24px;
}

.full-page {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
  overflow: hidden;

  .login-outer-container {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    overflow: auto;

    .login-bg-container {
      background-image: url('^assets/images/brandingRP-3.png');
      width: calc(100% - 640px);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      position: relative;
      z-index: 1;
    }

    .login-bg-container::before {
      content: "";
      display: block;
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba(255, 255, 255);
      opacity: .0;
    }

    .wrapp-login {
      width: 640px;
      min-height: 100%;

      .login-inner-container {
        width: 100%;

        form {
          padding: 16px;
          min-height: 600px;
          min-width: 368px;
        }

        .logo-container {
          width: 368px;
          height: 110px;

          img {
            max-height: 110px;
            max-width: 368px;
          }
        }

        .session-expired {
          text-align: center;
        }

        .login-title-container {
          margin-top: 64px;
        }

        button {
          width: 100%;
          margin: 32px 0 0;
          height: 42px;
          font-size: 16px;
          color: $color-fondo-social-def;
          background-color: $color-global-azul;
          border-radius: 12px;
          box-shadow: 5px 5px 5px $color-fondo-social-def;
        }
        button:hover{
          background-color: rgb(255, 0, 153, 0.6);
          color: black;
          font-size: 15pt;
      }
        .dark_text {
          color: #c5c5c5;
          font-size: 9pt;
        }

        .login_info,
        .title_text {
          font-size: 20px;
          color: $color-letter-global;
        }

        .title_text {
          font-weight: 600;
        }

        .text {
          font-size: 15px;
          font-weight: normal;
          color:$color-fondo-social-def ;

        }
      }
    }

  }

  .footer-container {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 80px;
    z-index: 2;
    background:$color-gradient-footer ;

    div {
      height: 40px;
      margin-right: 600px;

      span {
        margin-top: 2%;
        font-size: 15px;
      }
    }

  }
  .footer-container:hover{
    background-color: $color-fondo-difuminado;
    
    div{
      span{
        color: $color-letter-hover;
        font-size: 13pt;
              }
            }
           }

}
@media(max-width:576px) {
  .full-page {
    .login-outer-container {
      .wrapp-login {
        width: 100%;
        min-height: 100%;

        .login-inner-container {
          width: 100%;

          form {
            min-width: auto;
            min-height: auto;
          }
        }
      }
    }

    .footer-container {
      div {
        margin: 0 auto;
        place-content: center !important;
      }
    }
  }
}
