<o-form service="clients" entity="client" keys="ID">
    <o-column title="{{'NEW_CLIENT' | oTranslate }}">
        <o-row>
            <o-text-input attr="NAME" class="input-padding" fxFlex="70" required="yes" fxFlex="15"></o-text-input>
            <o-text-input attr="SURNAME" class="input-padding" fxFlex="70" required="yes" fxFlex="15"></o-text-input>
          </o-row>
          <o-row>
            <o-date-input attr="BIRTH_DATE" class="input-padding" fxFlex="20" required="yes"></o-date-input>
            <o-nif-input attr="NIF" class="input-padding" fxFlex="20" required="yes"></o-nif-input>
          </o-row>
          <o-row>
            <o-email-input attr="EMAIL" class="input-padding" fxFlex="15" required="yes"></o-email-input>
            <o-text-input attr="PHONE_NUMBER" class="input-padding" fxFlex="15"></o-text-input>
          </o-row>
    </o-column>
  </o-form>